*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --white: #ffffff;
    --black: #212429;
    --green: #5DF199;
    --transition: all 0.3s ease-in;
}

body{
    background-color: #FFFFFF;
    font-size: 1rem;
    font-family: 'Montserrat';
}


/* header start */
.nav{
    background-color: var(--white);
    padding: 1rem 0.5rem;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;
}

.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.8rem;
}

.nav-toggle{
    font-size: 1.5rem;
    color: var(--navy-blue);
    background-color: transparent;
    border: none;
    transition: var(--transition);
    cursor: pointer;
    outline: none;
}

.nav-toggle{
    color: var(--black);
}

.bars{
    display: block;
    transition: var(--transition);
    font-size: 1.8rem;
}

.times{
    color: var(--black);
    font-size: 1.8rem;
    transition: var(--transition);
    display: none;
}

.times:hover{
    transform: scale(1.2);
}

/* hide icon */
.show-icon .bars{
    display: none;
}

.show-icon .times{
    display: block;
}



.logo-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container>*{
    margin: 0 .4rem;
    margin-left: 99px;
    width: 76px;
    height: 63.66px;
}

.logo-container a{
    text-decoration: none;
    color: var(--black)
}

.logo{
    height: 50px;
}

.logo-text{
    max-width: 100%;
    max-height: 100%;
    width: 100px;
    height: 50px;
}

.links-container{
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.links-container a.active{
    color: #5DF199;
}

.links{
    margin-right:99px;
}

.links a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    color: var(--black);
    padding: 20px;
}

.show-links{
    height: 400px;
}
.upper{
    text-transform: uppercase;
}

/*nav background*/

body > div > nav > div{
    width: 100%;
    /*background-color:#1F1F1F;*/
}


div.parent{
    background-color: rgba(0, 0, 0, 0.445);
    width: 100%;
    height: 82px;
}

button.btn{
    border: 2px solid #5DF199;
    color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 7px;
    background: transparent;
    width: 236px;
    height: 67px;
    outline: none;
    color: #ffffff;
    }

    button.btn:hover{
        background-color: #5DF199;
        color: #ffffff;
    }
div.card{
    background-color: unset;
    border: 0;
    margin: 0;
    padding: 0;
}

/* top section style */
#top-section{
    width: 100%;
    height: 853px;
    background:linear-gradient( rgba(27, 27, 27, 0.88)50%, rgba(27, 27, 27, 0.88)50%),url("../imgs/Rectangle\ 46.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#top-section div.container{
    text-align: center;
    color: #FFFFFF;
    padding: 50px;
}

#top-section div.container img{
    padding-top: 100px;
}

#top-section h1{
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    letter-spacing: -0.005em;
}

#top-section p{
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
}

#top-section div.container button.btn {
    margin-top: 50px;
}

/* gallerry */
#gallery{
    background-color: #EDFEF4;
    text-align: center;
    position: relative;
}

#gallery h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    color: #212429;
    text-transform: uppercase;
    margin-top: 40px;
    background-color: #ffffff;
}

/* tab style */
#tabbed-content li{
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    cursor: pointer;
    color: #828282;
    padding: 10px;
}


#tabbed-content .panel{
    display: none;
}
#tabbed-content .panel.active{
    display: initial;
}

#tabbed-content > ul > li.active{
    color: #212429;
}

#tabbed-content > ul > li:hover{
    color: var(--black);
    transition: var(--transition);
}

#tabbed-content li:hover{
    color: var(--black);
    transition: var(--transition);
}

#tabbed-content img {
    opacity: 0.82;
    cursor: pointer;
    width: 100%;
    padding: 10px;
}

#tabbed-content img:hover {
  opacity: 1;
  transition: var(--transition);
}


#gallery > div.container.img-container{
   display: none;
   position: fixed;
    top: 90px;
    left: 120px;
    width: 82%;
    height: 90%;
    z-index: 20;
    background-color: rgba(60, 60, 60, 0.76);
}

#imgtext{
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #ffffff;
  font-size: 20px;
}

#expandedImg{
    width: 50%;
    height: auto;
    padding-top: : 10px;
    margin-top: 4%;
}

#gallery > div.container.img-container > span {
    position: absolute;
    right: 50px;
    color: #ffffff;
    font-size: 60px;
    cursor: pointer;
}


/*pricing*/
#Pricing {
    width: 100%;
    height: 758px;
    background: #EDFEF4;
    text-align: center;
}

#Pricing h1{
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    color: #212429;
    background-color: #ffffff;
    padding: 50px;
     font-family: 'Montserrat';
}


#Pricing  h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    color: #5DF199;
}

#Pricing p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #212429;
    border-bottom: 1px solid #212429;
}

.fa.fa-clock-o {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-size: 35px;
}

.fa.fa-usd{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid black;
}

#Pricing div.card{
    background: #FFFFFF;
    border: 4px solid #FFFFFF;
    box-shadow: 0px 6px 12px rgba(51, 51, 51, 0.15);
    border-radius: 10px;
    margin-top: 40px;
}

 #Pricing button.btn{
    width: 199px;
    height: 74px;
    border: 2px solid #5DF199;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #212429;
}

/*testimonialsection*/
#testimonial{
    width: 100%;
    height: 479px;
    background:linear-gradient( rgba(0, 0, 0, 0.71)50%, rgba(0, 0, 0, 0.71)50%),url("../imgs/Rectangle\ 40.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    margin: 0;
}

#testimonial h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;
    margin-top: 140px;
}

#testimonial p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.01em;
}

#testimonial div.carousel-inner img{
    width: 100px;
    height: 100px;
}

/*carousel controll*/

#carouselExampleControls > a.carousel-control-prev > span:nth-child(1) > img{
    padding-right: 180px;
    margin-top: 100px
}

#carouselExampleControls > a.carousel-control-next > span:nth-child(1) > img{
    padding-right: 60px;
    margin-top: 100px
}

/*contact session*/
#contact{
    width: 100%;
    height: 969px;
    background: #EDFEF4;
    text-align: center;
    position: relative;
}

#contact div.container{
    width: 100%;
    height: 849px;
    background: #FFFFFF;
    box-shadow: 0px 6px 12px rgba(51, 51, 51, 0.15);
    padding: 70px;
}

#contact h1{
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    color: #212429;
    background-color: #ffffff;
    padding: 20px;
    font-family: 'Montserrat';
}

#contact p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #212429;
}

#contact > div > div > div:nth-child(1) > div{
    text-align: left;
    background: #5DF199;
    box-shadow: 0px 3px 6px rgba(93, 241, 153, 0.1);
    position: absolute;
    width: 100%;
    height: 620px;
    padding: 40px;
    margin-top: 9%;
    right: 100px;
}

#contact > div > div > div:nth-child(1) > div h1{
    background-color:#5DF199; 
    padding-top: 50px;
}

#form {
    background-color:#5DF199; 
    width: 100%;
    height: 620px;
    background: #FFFFFF;
    margin-top: 9%;
    padding: 40px;
}

#form form h1{
    padding-top: 30px; 
}

#form button.btn{
    width: 100%;
    height: 84px;
    background: #5DF199;
    border-radius: 7px;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #212429;
}

#form button.btn:hover{
    transition: var(--transition);
    background-color: transparent;
}

#form input{
    background: #F5F5F5;
    border-radius: 7px;
    height: 84px;
}

#form input::placeholder{
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #212429;
    font-family: 'Montserrat';
}

#form select{
    background: #F5F5F5;
    border-radius: 7px;
    height: 84px;
     font-size: 24px;
    line-height: 29px;
    color: #212429;
    font-family: 'Montserrat';
}

#form textarea{
    height: 170px;
    background: #F5F5F5;
    border-radius: 7px;
}

#form textarea::placeholder{
    font-size: 24px;
    line-height: 29px;
    color: #212429;
    font-family: 'Montserrat';
}

@media screen and (min-width: 1000px){
    .nav{
        padding: 1rem 0.5rem;;
    }
    .nav-center{
        width: 100%;
        /* max-width: var(--max-width); */
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-header{
        padding: 0;
    }
    .nav-toggle{
        display: none;
    }
    .links-container{
        height: auto !important;
    }
    .links{
        display: flex;
        align-items: center;
    } 
}



/*footer section*/

#footer{
    height: 472px;
    background: #1D1D1D;
    padding: 100px;
}

#footer.card{
    height: 158px;
    border-radius: 7px;
    text-align: center;
}

#footer > div.container > div{
    text-align: center;
    color: #ffffff;
}

 #footer > div.container > div:nth-child(2) > div:nth-child(1) > span{
    border-right: 6px solid #ffffff;
    padding: 20px;
    margin-left: 100px;
 }

 #footer > div.container > div:nth-child(2) > div:nth-child(2) > span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    margin-right: 120px;
 }

#footer > div.container > div a{
     font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

#footer > div.container > div a:hover{
    background-color: var(--green);
    transition: var(--transition);
}

#footer > div.container > div:nth-child(2){
    padding-top: 20px;
}


.sec-two{
    color: #ffffff;
    text-align: center;
    padding: 30px;
}


/*media quarries*/

@media screen and (max-width: 1200px) {
    #contact > div > div > div:nth-child(1) > div{
        right: 0;
    }

    #contact  h1{
        font-family: 'Montserrat';
        margin: 0px;
    }
        
    #form form h1{
        font-size: 30px;
    }

    #contact > div > div > div:nth-child(1) > div h1{
        font-size: 30px;
    }

}

@media screen and (max-width: 1200px){
    #footer > div.container > div:nth-child(2) > div:nth-child(2) > span{
        margin-right: unset;
    }

    #footer > div.container > div:nth-child(2) > div:nth-child(1) > span{
        margin-left: unset;
    }
}



@media screen and (max-width: 1004px) {
    .links {
    margin-right: 0;
    padding: 20px;
    margin-top: 50px;
}

    .show-links  {
    height: 400px;
    text-align: center;
}

    .nav-toggle {
    height: 60px;
}
    .nav{
       padding: 20px;
    }


    .logo-container{
        display: unset;
    }

    .links a {
    font-family: 'Montserrat';
    padding: 20px;
    margin-top: 50px;
}

     .links li {
    padding: 10px;
}

}


@media screen and (max-width: 980px){
    #Pricing div.card {
    background: #FFFFFF;
     border: 0; 
     margin: 0;
}
    
    #Pricing p{
        font-size: 18px;
    }

    #Pricing button.btn{
        width: 100%;
    }

    #Pricing {
    width: 100%;
    height: auto;
  }

  #form {
    background-color: #5DF199;
    width: 100%;
    height: auto;
    background: #FFFFFF;
     margin-top: 0; 
     padding: 0; 
}

    #form > form > h1{
        padding: 0;
    }

    #contact > div > div > div:nth-child(1) > div {
    width: 100%;
    height: auto;
    padding: 35px;
    margin-top: 9%;
    right: 100px;
}

        #contact div.container {
    height: auto;
    padding: 50px;
  }

  #contact {
    height: auto;
  }

}


@media screen and (max-width: 980px){
   #contact > div > div > div:nth-child(1) > div{
    right: 0;
}

    #testimonial h1{
        margin-top: 40px;
    } 

    #testimonial{
        height: auto;
    }
}


@media screen and (max-width: 770px) {
    #contact > div > div > div:nth-child(1) > div{
    position: unset;
 }

 #footer > div.container > div:nth-child(2) > div:nth-child(1) > span {
    margin-left: 0px;
}


    #footer > div.container > div:nth-child(2) > div:nth-child(2) > span {
    margin-right: 20px;
    font-size: 18px;
    }

    #footer {
    height: auto;
    background: #1D1D1D;
    padding: 20px;
   }

   #expandedImg{
    width: 100%;
   }

   #gallery > div.container.img-container {
     left: 0px; 
    width: 100%;
    height: 90%;
    }

    .logo {
    height: auto;
  }

  .logo-container a {
    padding: 0;
    margin: 0;
 }

 #expandedImg {
    width: 100%;
    padding-top: 50%;
 }
}

@media screen and (max-width: 560px){
    #carouselExampleControls > a.carousel-control-prev > span:nth-child(1) > img{
    padding-right: 0px;
  }

   h1{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
   }

   p{
    font-size: 14px;
    line-height: 17px;
   }

   #Pricing {
    padding: 40px;
   }

   #gallery{
    padding: 40px;
   }


  #top-section{
    height: auto;
  }

  #Pricing div.card{
    margin: 10px;
  }
}

@media screen and (max-width: 485px){
    #carouselExampleControls > a.carousel-control-next > span:nth-child(1) > img{
    padding-right: 0px;
}
    #footer > div.container > div:nth-child(2) > div:nth-child(1) > span{
        padding: 0;
        margin: 0;
    }

    #footer > div.container > div:nth-child(2) > div:nth-child(2) > span {
    margin-right: 0px;
    font-size: 15px;
    padding: 0;
}

#testimonial p{
    font-size: 15px;
}

#testimonial h1{
    font-size: 18px;
}

#contact h1{
     font-size: 18px;
}

#contact p{
     font-size: 15px;
}
#contact > div > div > div:nth-child(1) > div h1{
    font-size: 18px;
}

#contact div.container{
    padding: 40px;
  }

  #top-section div.container{
    padding: 10px;
  }

#top-section h1{
    line-height: 26px;
    font-size: 20px;
}

#top-section  p{
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
}

    #top-section div.container img {
    padding-top: 80px;
    width: 50%;
  }

  #top-section div.container button.btn {
     margin-top: 0px; 
    width: 61.42px;
    height: 21.86px;
    font-size: 7.2866px;
    line-height: 9px;
}

#gallery{
    padding: 0;
  }

  #gallery div.col-4{
    padding: 0;
  }

  #gallery h1{
    font-size: 18px;
    line-height: 22px;
  }

#tabbed-content li{
    font-size: 14px;
   line-height: 17px;
}

#expandedImg {
    width: 100%;
    padding-top: 50%;
 }

 #Pricing{
    padding: 20px;
 }
  #Pricing h1{
    font-size: 18px;
  }

  #Pricing h2{
    font-size: 18px;
  }

  #Pricing p{
    font-size: 10px;
  }

  #Pricing button.btn{
    height: 48px;
    font-size: 18px;
    line-height: 22px;
    border-radius: 0;
  }

  #form > form > h1{
    font-size: 18px;
  }

  #contact > div > div > div:nth-child(1) > div{
    padding: 10px;
  }

  #form button.btn{
     height: 48px;
     font-size: 16px;
    line-height: 20px;
    border-radius: 0;
  }

  #form input::placeholder{
    font-size: 9px;
  }

#form select{
    font-size: 9px;
}

#form  textarea{
    height: 114px;
 }

  #form textarea::placeholder{
    font-size: 9px;
  }

  #footer > div.container > div a{
    font-size: 10px;
  }

  #footer > div.container > div:nth-child(2) > div:nth-child(2) > span{
    font-size: 9px;
  }

  #footer > div.container > div:nth-child(2) > div:nth-child(1) > span{
    border-right: none;
    font-size: 10px;
    padding: 4px;
  }

  #footer > div.sec-two > p{
    font-size: 9px;
  }

}


